.dashboard-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Stack navbar and grid vertically */
    background-color: rgb(244,246,250);
    overflow: hidden; /* Prevent any unnecessary overflow */
  }
  